In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests

In [2]:
csv_zip_path = "Resources/NJ_ZipCodes.csv"

# Read the CSV into a Pandas DataFrame
zipcode_df = pd.read_csv(csv_zip_path)

# Print the first five rows of data to the screen
zipcode_df.head()

   Zipcode    Lat    Lng            City  EstimatedPopulation
0     7093  40.78 -74.00         Monitor              42640.0
1     7093  40.78 -74.00      Taurus, NJ              42640.0
2     7675  40.98 -74.03    Westwood, NJ              24083.0
3     7675  40.98 -74.03  Old Tappan, NJ              24083.0
4     7675  40.98 -74.03  River Vale, NJ              24083.0

In [3]:
csv_census="Resources/Census_Ancestry_Groups.csv"

# Read the CSV into a Pandas DataFrame
census_df = pd.read_csv(csv_census)

# Print the first five rows of data to the screen
census_df.head()

       E_Code     Ethenicity
0  B02018_002  Asian Indian
1  B02018_003   Bangladeshi
2  B02018_004      Bhutanese
3  B02018_005        Burmese
4  B02018_006     Cambodian

In [4]:
#Appending character 'E' to every ethenicity code
for index, row in census_df.iterrows():
    census_df["E_Code"][index] = "".join((census_df["E_Code"][index],'E'))

In [5]:
census_df.head()

        E_Code     Ethenicity
0  B02018_002E  Asian Indian
1  B02018_003E   Bangladeshi
2  B02018_004E      Bhutanese
3  B02018_005E        Burmese
4  B02018_006E     Cambodian